{# empty Twig template #}
<article>
    <header>
        <h2>
            <a href="{{ path('beluha_blog_post_show', { slug: post.slug })}}">{{ post.title}}</a>
        </h2>
            <p>
                {{ 'post.on' | trans }} <time datetime="{{ post.createdAt | date('c') }}">{{ post.createdAt | date}}</time>
                {{ 'by' | trans }} <a href="#">{{ post.author.username }}</a>
                -<a href="#comments">
                    {% set count = post.comments | length %}
                    {{ 'post.comments' | transchoice(count) }}
                </a>
            </p>
    </header>
                <p>{#{{ post.body | truncate(300)}}#} {{ post.previewText | raw | nl2br }}&#8212;<a href="{{ path('beluha_blog_post_show', { slug: post.slug })}}">{{ 'read.more' | trans }} &raquo;</a></p>
</article>