{% extends "BeluhaBlogBundle::layout.html.twig" %}

{% block title %}{{ 'post.by.author' | trans({'%name%':author.username}) }}{% endblock %}


{% block sidebar %}
    <aside>
        <h3>{{ 'post.by' | trans }}</h3>
        <p>{{ author.username }}</p>
    </aside>
{% endblock %}

{% block section %}
    
    {% for post in posts %}
        {{ include('BeluhaBlogBundle:Post:_post.html.twig', { post: post} )}}
        {% else %}
            <p>{{ 'author.empty.post' | trans }}</p> 
    {% endfor %}
    
{% endblock %}
